<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
     style 
       include ../static/style.css
</head>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">




<body>
    <header class="header">
        
        <div class="left">

            
            <div><h1>Shrriz center<h1></div>
        </div>
        
        <div class="mid">
            <ul class="navbar">
                <li><a href='/' class="active">home</a></li>
                <li><a href='/about'>about</a></li>
                <li><a href='/Fitness'>Fitness</a></li>
                <li><a href='/contact'>contact</a></li>
            </ul>
        </div>
        
        <div class="right">
            <button class="btn">Call Now</button><button class="btn">Email </button>
        </div>
    </header>
    <div class="container">
        <h1>Join the best Gym of Kolhapur now </h1>
        <form action="/" method="post" id="Contact">
            <div class="form group">
                <input type="text" name="Name" id="Name" placeholder="Enter your Name">
            </div>
            <div class="form group">
                <input type="text" name="Age"  id="Age" placeholder="Enter your Age">
            </div>
            <div class="form group">
                <input type="text" name="Gender" id="Gender" placeholder="Enter your Gender">
            </div>
            <div class="form group">
                <input type="text" name="Locality" id="Locality" placeholder="Enter your Locality">
            </div>
            <div class="form group">
                <input type="Number" name="Number" id="Number" placeholder="Enter your Number">
            </div>

            <button class="btn">Submit</button>

        </form>
    </div>


</body>

</html>